{% extends 'base.html' %}
{% load  static  %}
{% block css_files%}
<link rel="stylesheet" href="{% static 'challanges/challange.css' %}">
<link rel="stylesheet" href="{% static 'challanges/includes/header.css' %}">
{% endblock %}
{% block page_title %} {{month|title}} Challange {% endblock %}

{% block content %}
{%include 'challanges/includes/header.html'%}
<h1>This Month's Challange ({{month|title}})</h1>
<h2>this is from template file</h2>
{% if not text %}
<h2>No challanges</h2>
{% else %}
<h2>{{text}}</h2>
{% endif %}
{% endblock %}

